<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Blog
			{% block title %}{% endblock %}
		</title>
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link
		rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom styles for our template -->
		<link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body
		class="home">
		<!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top headroom">
			<div class="container">
				<div
					class="navbar-header">
					<!-- Button for smallest screens -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="navbar-brand">Pierre Grandclement</h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right">
						<li class="active">
							<a href="index.php?action=home">Accueil</a><br>
						</li>
						<li>
							<a href="index.php?action=posts">Liste des posts</a><br>
						</li>
						<li>
							<a href="contact.html">Mon CV</a>
						</li>
						{% if session.user %}
							<strong>{{ session.user.pseudo }}</strong>
							{{ session.user.email }}
							<li>
								<a href="index.php?action=logout" style="color : red">Se Déconnecter</a><br>
							</li>
						{% else %}
							<li>
								<a class="btn" href="index.php?action=login">SIGN IN / SIGN UP</a>
							</li>
						{% endif %}
					</ul>


				</div>
				<!--/.nav-collapse -->
			</div>
		</body>
	</body>
</html></div><!-- /.navbar --><!-- Navigation --><main>
{% for message in flashes %}
	{# TODO Gérer les différents type de message flash #}
	<h2 class="danger">
		{{ message }}
	</h2>
{% endfor %}
{% block content %}{% endblock %}</main><footer id="footer" class="top-space">

<div class="footer1">
	<div class="container">
		<div class="row">

			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>0616165257<br>
						<a href="mailto:#">p.gdc85@gmail.com</a><br>
						<br>
						Rue F. Mermet, 69160 Tassin-La-Demi-Lune
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href="">
							<i class="fa fa-twitter fa-2"></i>
						</a>
						<a href="">
							<i class="fa fa-github fa-2"></i>
						</a>
					</p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
					<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
				</div>
			</div>

		</div>
		<!-- /row of widgets -->
	</div>
</div>

<div class="footer2">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2021, Pierre Grandclement. Designed by
						<a href="http://gettemplate.com/" rel="designer">gettemplate</a>
					</p>
				</div>
			</div>

		</div>
		<!-- /row of widgets -->
	</div>
</div></footer></body><!-- JavaScript libs are placed at the end of the document so the pages load faster --><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script><script src="js/headroom.min.js"></script><script src="js/jQuery.headroom.min.js"></script></html>
