<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link
		rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom styles for our template -->
		<link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
		<link rel="stylesheet" href="css/main.css">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body class="home">

		<div class="navbar navbar-inverse navbar-fixed-top headroom">
			<div class="container" style="display: flex; justify-content: space-around">
				<div
					class="navbar-header">
					<!-- Button for smallest screens -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="navbar-brand">Pierre Grandclement</h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right">
						<li>
							<a href="index.php?action=home">Accueil</a><br>
						</li>
						<li>
							<a href="index.php?action=posts&amp;page=1">Liste des posts</a><br>
						</li>
						<li>
							<a href="CV.pdf">Mon CV</a>
						</li>
						{% if session.user %}

							<li class="user-connected" style="text-align: center">
								<p style="color:white">{{ session.user.pseudo }}</p>
								<a href="index.php?action=logout" style="color : red">Se Déconnecter</a><br>
							</li>

						{% else %}
							<li style="display:flex">
								<a class="btn" href="index.php?action=login">Se connecter</a>
								<a class="btn" href="index.php?action=register">S'inscrire</a>
							</li>

						{% endif %}
					</ul>

				</div>

				<!--/.nav-collapse -->
			</body>
		</html>
	</body>
</html></div></div><!-- Navigation --><main>{% block content %}{% endblock %}</main><footer id="footer" class="top-space"><div class="footer1">
<div class="container">

	<div class="row" style="display: flex;justify-content: space-around;">
		<div class="col-md-3 widget">
			<h3 class="widget-title">Contact</h3>
			<div class="widget-body">
				<p>0616165257<br>

					Rue F. Mermet, 69160 Tassin-La-Demi-Lune
				</p>
			</div>
		</div>

		<div class="col-md-3 widget">
			<h3 class="widget-title">Follow me</h3>
			<div class="widget-body">
				<p class="follow-me-icons">
					<a href="">
						<i class="fa fa-twitter fa-2"></i>
					</a>
					<a href="">
						<i class="fa fa-github fa-2"></i>
					</a>
				</p>
			</div>
		</div>

		<div class="col-md-3 widget">
			<p>{{ session.user.grade }}</p>
			{% if (session.user.grade == 'superAdmin') or (session.user.grade == 'admin') %}
				<a href="index.php?action=administration">Administration</a>
			{% endif %}
		</div>

	</div>
	<!-- /row of widgets -->
</div></div><div class="footer2">
<div class="container">
	<div class="row">

		<div class="col-md-6 widget">
			<div class="widget-body">
				<p class="text-right">
					Copyright &copy; 2021, Pierre Grandclement. Designed by
					<a href="http://gettemplate.com/" rel="designer">gettemplate</a>
				</p>
			</div>
		</div>

	</div>
	<!-- /row of widgets -->
</div></div></body><!-- JavaScript libs are placed at the end of the document so the pages load faster --><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script><script src="js/headroom.min.js"></script><script src="js/jQuery.headroom.min.js"></script></body></html>
