{% extends "/frontoffice/base.html.twig" %}

{% block title %}Contact
{% endblock %}

{% block content %}

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Mon blog</h1>
				<p class="">Pierre Grandclement, le developpeur dont vous avez besoin.
				</p>
			</div>
		</div>
	</header>
	<div class="container">
		<div
			class="row">

			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contactez nous</h1>
				</header>

				<form method="Post">

					{% for key, message in flashes %}
						<div>
							<p class={{ key }}>{{ message }}</p>
						</div>
					{% endfor %}
					<div class="row" style="display: flex">
						<div class=" col-sm-3">
							<label for='name'>Nom</label>
							<input class="form-control" id="name" name="name" type="text" required>
						</div>
						<div class="col-sm-3">
							<label for='surname'>Prénom</label>
							<input class="form-control" id="surname" name="surname" type="text" required>
						</div>
						<div class="col-sm-3">
							<label for='mail'>Email</label>
							<input class="form-control" id="mail" name="mail" type="email" required>
						</div>

					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<label for='content'>Votre message</label>
							<textarea id="content" name="content" class="form-control" rows="9" required></textarea>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-6">
							<input class="btn btn-action" type="submit" value="Send message">
						</div>
					</div>
				</form>

			</article>
		{% endblock %}
