{% extends "/frontoffice/base.html.twig" %}

{% block title %}Register
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>
	<div class="container">


		<div
			class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Créer un compte</h1>
				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créer un compte</h3>

							<hr>
							<form method="POST">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
													<label for="exampleEmail11" class="">Email</label>
													<input name="email" id="exampleEmail11" placeholder="" type="email" class="form-control" required>
													</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
													<label for="examplePassword11" class="">Mot de passe</label>
													<input name="password" id="examplePassword11" placeholder="" type="password" class="form-control" required>
													</div>
                                                </div>
												<div class="col-md-6">
                                                    <div class="position-relative form-group">
													<label for="nom" class="">Nom</label>
													<input name="nom" id="nom" placeholder="" type="text" class="form-control" required>
													</div>
                                                </div>
												<div class="col-md-6">
                                                    <div class="position-relative form-group">
													<label for="prenom" class="">Prénom</label>
													<input name="prenom" id="prenom" placeholder="" type="text" class="form-control" required>
													</div>
                                                </div>
												<div class="col-md-6">
                                                    <div class="position-relative form-group">
													<label for="pseudo" class="">Pseudo</label>
													<input name="pseudo" id="pseudo" placeholder="" type="text" class="form-control" required>
													</div>
                                                </div>
                                            </div>
											<div class="row">
                                            <div class="col-lg-4 text-left">
										{% for message in flashes %}{# TODO Gérer les différents type de message flash #}<p class="danger">
											{{ message }}</p>
									{% endfor %}
									</div>
                                            <button class="mt-2 btn btn-primary">Sign in</button>
											</div>
                                        </form>

							
						</div>
					</div>

				</div>

			</article>
			<!-- /Article -->

		</div>
	</div>

{% endblock %}
