{% extends "/frontoffice/base.html.twig" %}

{% block title %}Oups
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>
	<div class="container">
		<div class="row">
			<p>Cette page n'existe pas ou vous n'etes pas autorisé à y accéder</p>
			<a href="index.php?action=home">Cliquez ici pour revenir à l'accueil</a>
		</div>
	</div>

{% endblock %}
